/* referenced https://www.w3schools.com/howto/howto_css_images_side_by_side.asp for side-by-side imgs */

.row {
    display: flex;
}
  
.column1 {
    flex: 50%;
    padding: 5px;
}

.column2 {
    flex: 33%;
    padding: 5px;
}

.img1 {
    width: 100%;
    height: auto;
    display: flex;
}

.main_block {
    font-family: Papyrus, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.table, .th, .td {
    border: 1px solid black;
}

.table.center {
    margin-left: auto;
    margin-right: auto;
}

.body {
    background-color: yellow;
}

.caption{
    font-size: 14px;
}